<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Files Lite.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Files Pro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Files.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>info.filesmanager.Files.PrivilegedIOHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF47A97F186C607B00745C4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF6D997C196675290077B146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF6D998E196675290077B146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFC5121016C4BD3D00D247EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFD54FA91A29C1F20098A4A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFD54FBB1A29C4C10098A4A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFF6F2111A13547E00011177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFF6F2231A13547E00011177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFF6F2391A13567C00011177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
