SDKROOT = macosx
ONLY_ACTIVE_ARCH = YES
DEBUG_INFORMATION_FORMAT = dwarf
COPY_PHASE_STRIP = NO
SKIP_INSTALL = YES
MACOSX_DEPLOYMENT_TARGET = 10.11
ALWAYS_SEARCH_USER_PATHS = NO
HEADER_SEARCH_PATHS = $(PROJECT_DIR)/../Habanero/include $(PROJECT_DIR)/../Utility/include $(PROJECT_DIR)/include
OTHER_CPLUSPLUSFLAGS = $(OTHER_CFLAGS) -std=c++17 -Wall -Wextra -Werror
USE_HEADERMAP = NO
