<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XPCServices</key>
	<dict>
		<key>com.magnumbytes.NimbleCommander.Highlighter</key>
		<string>Contents/XPCServices/Highlighter.xpc</string>
	</dict>
	<key>CFBundleExecutable</key>
	<string>ViewerUT</string>
	<key>CFBundleIdentifier</key>
	<string>com.magnumbytes.ViewerUT</string>
	<key>CFBundleName</key>
	<string>ViewerUT</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
</dict>
</plist>
