HEADER_SEARCH_PATHS = $(PROJECT_DIR)/../Habanero/include $(PROJECT_DIR)/../Utility/include $(PROJECT_DIR)/../RoutedIO/include $(PROJECT_DIR)/../3rd_Party/libarchive/include $(PROJECT_DIR)/../3rd_Party/unrar/include $(PROJECT_DIR)/../3rd_Party/libssh2/include $(PROJECT_DIR)/../3rd_Party/OpenSSL/include $(PROJECT_DIR)/../3rd_Party/rapidjson/include $(PROJECT_DIR)/../3rd_Party/pugixml/include $(PROJECT_DIR)/../3rd_Party/libcurl/include $(PROJECT_DIR)/../3rd_Party/lzma/include $(PROJECT_DIR)/../3rd_Party/boost/include $(PROJECT_DIR)/include $(HOME)

OTHER_LDFLAGS = -larchive -lboost_system-mt -lboost_filesystem-mt -lz -lssl -lcrypto -llzma -lbz2 -lssh2 -lunrar -lcurl -lpugixml -framework Kerberos -lHabanero
