#include "../../XCConfig/common.xcconfig"

COPY_PHASE_STRIP = NO
PRODUCT_NAME = $(TARGET_NAME)

HEADER_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/../Panel/include $(PROJECT_DIR)/../Panel/include/Panel $(PROJECT_DIR)/../Habanero/include $(PROJECT_DIR)/../Utility/include $(PROJECT_DIR)/../VFS/include $(PROJECT_DIR)/../Config/include
