#include "debug.xcconfig"

OTHER_LDFLAGS = $(inherited) -lgmock -lgtest -lHabanero -lboost_system-mt -framework Foundation -framework Cocoa
LD_RUNPATH_SEARCH_PATHS = @executable_path/
HEADER_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/../3rd_Party/Catch2/single_include/ $(PROJECT_DIR)/../3rd_Party/googletest/include/
LIBRARY_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/../3rd_Party/googletest/built/
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) GTEST_DONT_DEFINE_FAIL=1 GTEST_DONT_DEFINE_SUCCEED=1
EXECUTABLE_PREFIX=
