#include "../../XCConfig/common.xcconfig"

COPY_PHASE_STRIP = NO

HEADER_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/include $(PROJECT_DIR)/include/Viewer  $(PROJECT_DIR)/../Utility/include $(PROJECT_DIR)/../VFS/include $(PROJECT_DIR)/../Habanero/include $(PROJECT_DIR)/../Config/include $(PROJECT_DIR)/../CUI/include

INSTALL_PATH = @rpath/

EXECUTABLE_PREFIX =

PRODUCT_NAME = $(TARGET_NAME)
