<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>The access is needed in order to allow you to browse and manage the items in this folder with Nimble Commander. This application will not use any of your personal data without your actions.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>The access is needed in order to allow you to browse and manage the items in this folder with Nimble Commander. This application will not use any of your personal data without your actions.</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>The access is needed in order to allow you to browse and manage the items in this folder with Nimble Commander. This application will not use any of your personal data without your actions.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>An application in Nimble Commander wants to use AppleScript.</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.8.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013-2025 Michael Kazakov.
All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>Application</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Reveal in Nimble Commander</string>
			</dict>
			<key>NSMessage</key>
			<string>revealItemService</string>
			<key>NSPortName</key>
			<string>Nimble Commander</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendTypes</key>
			<array>
				<string>public.file-url</string>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.directory</string>
			</array>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Open Folder in Nimble Commander</string>
			</dict>
			<key>NSMessage</key>
			<string>openFolderService</string>
			<key>NSPortName</key>
			<string>Nimble Commander</string>
			<key>NSRequiredContext</key>
			<dict/>
		</dict>
	</array>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>info.filesmanager.Files.PrivilegedIOHelperV2</key>
		<string>identifier info.filesmanager.Files.PrivilegedIOHelperV2 and certificate leaf[subject.CN] = &quot;Developer ID Application: Mikhail Kazakov (AC5SJT236H)&quot;</string>
	</dict>
	<key>SUFeedURL</key>
	<string>https://magnumbytes.com/downloads/releases/sparkle-nimble-commander.xml</string>
	<key>SUPublicEDKey</key>
	<string>+YiqopcJYs/3V0iERkxnA2NdWhDOCEdZjl/WdK1ljz8=</string>
</dict>
</plist>
