<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirstPanelPath</key>
	<string>/</string>
	<key>SecondPanelPath</key>
	<string>/</string>
	<key>Skin</key>
	<integer>1</integer>
	<key>BigFileViewModernShouldAntialias</key>
	<true/>
	<key>BigFileViewModernShouldSmoothFonts</key>
	<true/>
	<key>BigFileViewModernFont</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaSSEBVszNmNdBgAAABwAAAD//k0AZQBuAGwAbwAtAFIAZQBnAHUAbABhAHIAhAFmDIQBYwCYAZgAmACG</data>
	<key>BigFileViewModernTextColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAAAAYY=</data>
	<key>BigFileViewModernSelectionColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg7W0ND+D19ZWP4P9/Hw/AYY=</data>
	<key>BigFileViewModernBackgroundColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQEBAYY=</data>
	<key>BigFileViewClassicShouldAntialias</key>
	<true/>
	<key>BigFileViewClassicShouldSmoothFonts</key>
	<false/>
	<key>BigFileViewClassicFont</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaSSEBVszNmNdBgAAABwAAAD//k0AZQBuAGwAbwAtAFIAZQBnAHUAbABhAHIAhAFmDoQBYwCYAZgAmACG</data>
	<key>BigFileViewClassicTextColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAEBAYY=</data>
	<key>BigFileViewClassicSelectionColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAINHEwA/g2wPAD8Bhg==</data>
	<key>BigFileViewClassicBackgroundColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAACDBkoAPwGG</data>
	<key>BigFileViewDefaultEncoding</key>
	<string>ENCODING_MACOS_ROMAN_WESTERN</string>
	<key>BigFileViewEncodingAutoDetect</key>
	<true/>
	<key>BigFileViewDoSaveFileEncoding</key>
	<true/>
	<key>BigFileViewDoSaveFileMode</key>
	<true/>
	<key>BigFileViewDoSaveFilePosition</key>
	<true/>
	<key>BigFileViewDoSaveFileWrapping</key>
	<true/>
	<key>BigFileViewDoSaveFileSelection</key>
	<true/>
	<key>BigFileViewFileWindowPow2X</key>
	<integer>3</integer>
	<key>BigFileViewCaseSensitiveSearch</key>
	<false/>
	<key>BigFileViewWholePhraseSearch</key>
	<false/>
	<key>FilePanelsDeleteBehavior</key>
	<integer>0</integer>
	<key>FilePanelsShiftDeleteBehavior</key>
	<integer>1</integer>
	<key>FilePanelsLeftPanelViewState</key>
	<dict>
		<key>NumericSort</key>
		<false/>
		<key>CaseSensitiveComparison</key>
		<false/>
		<key>SeparateDirectories</key>
		<true/>
		<key>ViewHiddenFiles</key>
		<false/>
		<key>SortMode</key>
		<integer>1</integer>
		<key>ViewMode</key>
		<integer>1</integer>
	</dict>
	<key>FilePanelsRightPanelViewState</key>
	<dict>
		<key>NumericSort</key>
		<false/>
		<key>CaseSensitiveComparison</key>
		<false/>
		<key>SeparateDirectories</key>
		<true/>
		<key>ViewHiddenFiles</key>
		<false/>
		<key>SortMode</key>
		<integer>1</integer>
		<key>ViewMode</key>
		<integer>1</integer>
	</dict>
	<key>FilePanelsGeneralIgnoreDirectoriesOnSelectionWithMask</key>
	<true/>
	<key>FilePanelsGeneralAppendOtherWindowsPathsToGoToMenu</key>
	<true/>
	<key>FilePanelsGeneralShowDotDotEntry</key>
	<true/>
	<key>FilePanelsModernFont</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaSSEBVszNmNdBgAAABoAAAD//kwAdQBjAGkAZABhAEcAcgBhAG4AZABlAAAAhAFmDYQBYwCYAZgAmACG</data>
	<key>FilePanelsModernRegularTextColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAAAAYY=</data>
	<key>FilePanelsModernActiveSelectedTextColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQEBAYY=</data>
	<key>FilePanelsModernBackgroundColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQEBAYY=</data>
	<key>FilePanelsModernAlternativeBackgroundColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg/HwcD+D9vV1P4P7+no/AYY=</data>
	<key>FilePanelsModernActiveSelectedBackgroundColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg62sLD6D6ejoPoPU01M/AYY=</data>
	<key>FilePanelsModernInactiveSelectedBackgroundColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg9XUVD+D1dRUP4PV1FQ/AYY=</data>
	<key>FilePanelsModernCursorFrameColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAAAAYY=</data>
	<key>FilePanelsModernIconsMode</key>
	<integer>2</integer>
	<key>FilePanelsClassicFont</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaSSEBVszNmNdBgAAABwAAAD//k0AZQBuAGwAbwAtAFIAZQBnAHUAbABhAHIAhAFmD4QBYwCYAZgAmACG</data>
	<key>FilePanelsClassicBackgroundColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAACDgYAAPwGG</data>
	<key>FilePanelsClassicCursorBackgroundColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAIOBgAA/g4GAAD8Bhg==</data>
	<key>FilePanelsClassicRegularFileColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAEBAYY=</data>
	<key>FilePanelsClassicFocusedRegularFileColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAAAAYY=</data>
	<key>FilePanelsClassicDirectoryColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQEBAYY=</data>
	<key>FilePanelsClassicFocusedDirectoryColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQEBAYY=</data>
	<key>FilePanelsClassicHiddenColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAIOBgAA/g4GAAD8Bhg==</data>
	<key>FilePanelsClassicFocusedHiddenColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg4GAAD+DgYAAP4OBgAA/AYY=</data>
	<key>FilePanelsClassicSelectedColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQEAAYY=</data>
	<key>FilePanelsClassicFocusedSelectedColor - 2</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQEAAYY=</data>
	<key>FilePanelsClassicOtherColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQAAAYY=</data>
	<key>FilePanelsClassicFocusedOtherColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQAAAYY=</data>
</dict>
</plist>
