#include "../../XCConfig/common.xcconfig"

COPY_PHASE_STRIP = NO
INSTALL_PATH = @rpath/
EXECUTABLE_PREFIX = lib
PRODUCT_NAME = $(TARGET_NAME)
HEADER_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/include/ $(PROJECT_DIR)/../Utility/include $(PROJECT_DIR)/../VFS/include $(PROJECT_DIR)/../Habanero/include
