<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Utility.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF960DDA1C97F833001D8B02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF960DE41C97F833001D8B02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF960E0B1C97FA73001D8B02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
