HEADER_SEARCH_PATHS = 3rd_Party/c++/include 3rd_Party/libarchive/include 3rd_Party/unrar/include 3rd_Party/AquaticPrime/include 3rd_Party/rapidjson/include 3rd_Party/boost/include 3rd_Party/AppAuth/AppAuth-iOS/Source/** 3rd_Party/LetsMove 3rd_Party/MMTabBarView Habanero/include Utility/include RoutedIO/include VFS/include Operations/include Term/include . $(HOME)

OTHER_LDFLAGS = $(OTHER_LDFLAGS) -ObjC -lAppAuth-macOS -lboost_system-mt -lboost_filesystem-mt

LD_RUNPATH_SEARCH_PATHS = @executable_path/../Frameworks

FRAMEWORK_SEARCH_PATHS = $(PROJECT_DIR)/3rd_Party/Sparkle/

LIBRARY_SEARCH_PATHS = $(PROJECT_DIR)/3rd_Party/libarchive/built $(PROJECT_DIR)/3rd_Party/unrar/built $(PROJECT_DIR)/3rd_Party/AquaticPrime/built $(PROJECT_DIR)/3rd_Party/OpenSSL/built $(PROJECT_DIR)/3rd_Party/libssh2/built $(PROJECT_DIR)/3rd_Party/AppAuth/built $(PROJECT_DIR)/3rd_Party/boost/built $(SDKROOT)/usr/lib/system

USE_HEADERMAP = NO

MACOSX_DEPLOYMENT_TARGET = 10.11
WRAPPER_EXTENSION = app
VALID_ARCHS = x86_64
SDKROOT = macosx
CLANG_ENABLE_OBJC_ARC = YES
OTHER_CPLUSPLUSFLAGS = $(OTHER_CFLAGS) -std=c++1z
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = NimbleCommander/Bootstrap/NimbleCommander-Prefix.pch
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_NO_COMMON_BLOCKS = YES
ENABLE_STRICT_OBJC_MSGSEND = YES

RUN_CLANG_STATIC_ANALYZER = YES


// warnings - ON
CLANG_WARN_EMPTY_BODY = YES
GCC_WARN_FOUR_CHARACTER_CONSTANTS = YES
GCC_WARN_SHADOW = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
CLANG_WARN_UNREACHABLE_CODE = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
CLANG_WARN_ASSIGN_ENUM = YES
GCC_WARN_ABOUT_POINTER_SIGNEDNESS = YES
GCC_TREAT_INCOMPATIBLE_POINTER_TYPE_WARNINGS_AS_ERRORS = YES
GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = YES
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO = YES
CLANG_WARN_CXX0X_EXTENSIONS = YES
GCC_WARN_SIGN_COMPARE = YES

// warnings - OFF
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = NO
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = NO
CLANG_WARN_DOCUMENTATION_COMMENTS = NO
GCC_WARN_UNUSED_PARAMETER = NO
CLANG_WARN__EXIT_TIME_DESTRUCTORS = NO
