//////////////////////////////////////////////////////////////////////////////// ALL LANGUAGES

CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
CLANG_WARN_UNREACHABLE_CODE = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES
//CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING
//GCC_WARN_CHECK_SWITCH_STATEMENTS
//GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS
//CLANG_WARN_DOCUMENTATION_COMMENTS
//CLANG_WARN_EMPTY_BODY
//GCC_WARN_FOUR_CHARACTER_CONSTANTS
//GCC_WARN_SHADOW
//CLANG_WARN_BOOL_CONVERSION
//CLANG_WARN_CONSTANT_CONVERSION
//GCC_WARN_64_TO_32_BIT_CONVERSION
//CLANG_WARN_ENUM_CONVERSION
//CLANG_WARN_FLOAT_CONVERSION
//CLANG_WARN_INT_CONVERSION
//CLANG_WARN_NON_LITERAL_NULL_CONVERSION
//CLANG_WARN_IMPLICIT_SIGN_CONVERSION
//CLANG_WARN_INFINITE_RECURSION
//GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED
//GCC_WARN_ABOUT_RETURN_TYPE
//GCC_WARN_MISSING_PARENTHESES
//GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS
//GCC_WARN_ABOUT_MISSING_PROTOTYPES
//GCC_WARN_ABOUT_MISSING_NEWLINE
//CLANG_WARN_ASSIGN_ENUM
//CLANG_WARN_PRIVATE_MODULE
//GCC_WARN_ABOUT_POINTER_SIGNEDNESS
//CLANG_WARN_SEMICOLON_BEFORE_METHOD_BODY
//GCC_WARN_SIGN_COMPARE
//CLANG_WARN_STRICT_PROTOTYPES
//CLANG_WARN_COMMA
//CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION
//CLANG_WARN_PRAGMA_PACK
//GCC_TREAT_INCOMPATIBLE_POINTER_TYPE_WARNINGS_AS_ERRORS
//GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS
//GCC_WARN_TYPECHECK_CALLS_TO_PRINTF
//CLANG_WARN_UNGUARDED_AVAILABILITY
//GCC_WARN_UNINITIALIZED_AUTOS
//GCC_WARN_UNKNOWN_PRAGMAS
//CLANG_WARN_UNREACHABLE_CODE
//GCC_WARN_UNUSED_FUNCTION
//GCC_WARN_UNUSED_LABEL
//GCC_WARN_UNUSED_PARAMETER
//GCC_WARN_UNUSED_VALUE
//GCC_WARN_UNUSED_VARIABLE

//////////////////////////////////////////////////////////////////////////////// C++ 
CLANG_WARN_SUSPICIOUS_MOVE = YES
//CLANG_WARN_VEXING_PARSE
//CLANG_WARN_DELETE_NON_VIRTUAL_DTOR
//CLANG_WARN__EXIT_TIME_DESTRUCTORS
//GCC_WARN_NON_VIRTUAL_DESTRUCTOR
//GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS
//CLANG_WARN_RANGE_LOOP_ANALYSIS
//CLANG_WARN_SUSPICIOUS_MOVE
//GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO
//CLANG_WARN_CXX0X_EXTENSIONS

//////////////////////////////////////////////////////////////////////////////// Objective C
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
//CLANG_WARN_DIRECT_OBJC_ISA_USAGE
//CLANG_WARN__DUPLICATE_METHOD_MATCH
//CLANG_WARN_OBJC_IMPLICIT_ATOMIC_PROPERTIES
//CLANG_WARN_OBJC_LITERAL_CONVERSION
//CLANG_WARN_OBJC_MISSING_PROPERTY_SYNTHESIS
//GCC_WARN_ALLOW_INCOMPLETE_PROTOCOL
//CLANG_WARN_OBJC_INTERFACE_IVARS
//CLANG_WARN_MISSING_NOESCAPE
//CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS
//GCC_WARN_STRICT_SELECTOR_MATCH
//GCC_WARN_UNDECLARED_SELECTOR
//CLANG_WARN_OBJC_ROOT_CLASS

//////////////////////////////////////////////////////////////////////////////// Objective C and ARC
//CLANG_WARN_OBJC_EXPLICIT_OWNERSHIP_TYPE
//CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF
//CLANG_WARN_OBJC_REPEATED_USE_OF_WEAK
//CLANG_WARN__ARC_BRIDGE_CAST_NONARC
