<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirstPanelPath</key>
	<string>/</string>
	<key>SecondPanelPath</key>
	<string>/</string>
	<key>FilePanelsLeftPanelViewState</key>
	<dict>
		<key>NumericSort</key>
		<false/>
		<key>CaseSensitiveComparison</key>
		<false/>
		<key>SeparateDirectories</key>
		<true/>
		<key>ViewHiddenFiles</key>
		<false/>
		<key>SortMode</key>
		<integer>1</integer>
		<key>ViewMode</key>
		<integer>1</integer>
	</dict>
	<key>FilePanelsRightPanelViewState</key>
	<dict>
		<key>NumericSort</key>
		<false/>
		<key>CaseSensitiveComparison</key>
		<false/>
		<key>SeparateDirectories</key>
		<true/>
		<key>ViewHiddenFiles</key>
		<false/>
		<key>SortMode</key>
		<integer>1</integer>
		<key>ViewMode</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
