<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirstPanelPath</key>
	<string>/</string>
	<key>SecondPanelPath</key>
	<string>/</string>
	<key>Skin</key>
	<integer>1</integer>
	<key>BigFileViewModernShouldAntialias</key>
	<true/>
	<key>BigFileViewModernShouldSmoothFonts</key>
	<true/>
	<key>BigFileViewModernFont</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaSSEBVszNmNdBgAAABwAAAD//k0AZQBuAGwAbwAtAFIAZQBnAHUAbABhAHIAhAFmDIQBYwCYAZgAmACG</data>
	<key>BigFileViewModernTextColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAAAAYY=</data>
	<key>BigFileViewModernSelectionColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg7W0ND+D19ZWP4P9/Hw/AYY=</data>
	<key>BigFileViewModernBackgroundColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQEBAYY=</data>
	<key>BigFileViewClassicShouldAntialias</key>
	<true/>
	<key>BigFileViewClassicShouldSmoothFonts</key>
	<true/>
	<key>BigFileViewClassicFont</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaSSEBVszNmNdBgAAABwAAAD//k0AZQBuAGwAbwAtAFIAZQBnAHUAbABhAHIAhAFmDYQBYwCYAZgAmACG</data>
	<key>BigFileViewClassicTextColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAEBAYY=</data>
	<key>BigFileViewClassicSelectionColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAINHEwA/g2wPAD8Bhg==</data>
	<key>BigFileViewClassicBackgroundColor</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAACDBkoAPwGG</data>
	<key>BigFileViewDefaultEncoding</key>
	<string>ENCODING_MACOS_ROMAN_WESTERN</string>
	<key>BigFileViewEncodingAutoDetect</key>
	<true/>
	<key>BigFileViewFileWindowPow2X</key>
	<integer>3</integer>
	<key>FilePanelsDeleteBehavior</key>
	<integer>0</integer>
	<key>FilePanelsShiftDeleteBehavior</key>
	<integer>1</integer>
	<key>FilePanelsLeftPanelViewState</key>
	<dict>
		<key>NumericSort</key>
		<false/>
		<key>CaseSensitiveComparison</key>
		<false/>
		<key>SeparateDirectories</key>
		<true/>
		<key>ViewHiddenFiles</key>
		<false/>
		<key>SortMode</key>
		<integer>1</integer>
		<key>ViewMode</key>
		<integer>1</integer>
	</dict>
	<key>FilePanelsRightPanelViewState</key>
	<dict>
		<key>NumericSort</key>
		<false/>
		<key>CaseSensitiveComparison</key>
		<false/>
		<key>SeparateDirectories</key>
		<true/>
		<key>ViewHiddenFiles</key>
		<false/>
		<key>SortMode</key>
		<integer>1</integer>
		<key>ViewMode</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
