<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>menu.files.about</key>
	<string></string>
	<key>menu.files.preferences</key>
	<string>⌘,</string>
	<key>menu.files.hide</key>
	<string>⌘h</string>
	<key>menu.files.hide_others</key>
	<string>⌥⌘h</string>
	<key>menu.files.show_all</key>
	<string></string>
	<key>menu.files.quit</key>
	<string>⌘q</string>
	<key>menu.file.newwindow</key>
	<string>⌘n</string>
	<key>menu.file.open</key>
	<string>\r</string>
	<key>menu.file.open_native</key>
	<string>⇧\r</string>
	<key>menu.file.calculate_sizes</key>
	<string>⌥⇧\r</string>
	<key>menu.file.close</key>
	<string>⌘w</string>
	<key>menu.file.find</key>
	<string>⌘f</string>
	<key>menu.file.page_setup</key>
	<string>⇧⌘p</string>
	<key>menu.file.print</key>
	<string>⌘p</string>
	<key>menu.edit.copy</key>
	<string>⌘c</string>
	<key>menu.edit.paste</key>
	<string>⌘v</string>
	<key>menu.edit.select_all</key>
	<string>⌘a</string>
	<key>menu.edit.deselect_all</key>
	<string>⌥⌘a</string>
	<key>menu.view.left_panel_change_folder</key>
	<string></string>
	<key>menu.view.right_panel_change_folder</key>
	<string></string>
	<key>menu.view.swap_panels</key>
	<string>⌘u</string>
	<key>menu.view.sync_panels</key>
	<string>⌥⌘u</string>
	<key>menu.view.refresh</key>
	<string>⌘r</string>
	<key>menu.view.toggle_short_mode</key>
	<string>^1</string>
	<key>menu.view.toggle_medium_mode</key>
	<string>^2</string>
	<key>menu.view.toggle_full_mode</key>
	<string>^3</string>
	<key>menu.view.toggle_wide_mode</key>
	<string>^4</string>
	<key>menu.view.sorting_by_name</key>
	<string>^</string>
	<key>menu.view.sorting_by_extension</key>
	<string>^</string>
	<key>menu.view.sorting_by_modify_time</key>
	<string>^</string>
	<key>menu.view.sorting_by_size</key>
	<string>^</string>
	<key>menu.view.sorting_by_creation_time</key>
	<string>^</string>
	<key>menu.view.sorting_view_hidden</key>
	<string>⇧⌥⌘i</string>
	<key>menu.view.sorting_separate_folders</key>
	<string></string>
	<key>menu.view.sorting_case_sensitive</key>
	<string></string>
	<key>menu.view.sorting_numeric_comparison</key>
	<string></string>
	<key>menu.view.show_toolbar</key>
	<string></string>
	<key>menu.view.show_terminal</key>
	<string>⌥⌘o</string>
	<key>menu.go.back</key>
	<string>⌘[</string>
	<key>menu.go.forward</key>
	<string>⌘]</string>
	<key>menu.go.enclosing_folder</key>
	<string>⌘</string>
	<key>menu.go.into_folder</key>
	<string>⌘</string>
	<key>menu.go.documents</key>
	<string>⇧⌘o</string>
	<key>menu.go.desktop</key>
	<string>⇧⌘d</string>
	<key>menu.go.downloads</key>
	<string>⌥⌘l</string>
	<key>menu.go.home</key>
	<string>⇧⌘h</string>
	<key>menu.go.library</key>
	<string></string>
	<key>menu.go.applications</key>
	<string>⇧⌘a</string>
	<key>menu.go.utilities</key>
	<string>⇧⌘u</string>
	<key>menu.go.to_folder</key>
	<string>⇧⌘g</string>
	<key>menu.command.system_overview</key>
	<string>⌘l</string>
	<key>menu.command.volume_information</key>
	<string></string>
	<key>menu.command.file_attributes</key>
	<string>^a</string>
	<key>menu.command.copy_file_name</key>
	<string>⇧⌘c</string>
	<key>menu.command.copy_file_path</key>
	<string>⌥⌘c</string>
	<key>menu.command.select_with_mask</key>
	<string>⌘=</string>
	<key>menu.command.deselect_with_mask</key>
	<string>⌘-</string>
	<key>menu.command.quick_look</key>
	<string></string>
	<key>menu.command.internal_viewer</key>
	<string>⌥</string>
	<key>menu.command.eject_volume</key>
	<string></string>
	<key>menu.command.compress</key>
	<string></string>
	<key>menu.command.copy_to</key>
	<string></string>
	<key>menu.command.copy_as</key>
	<string>⇧</string>
	<key>menu.command.move_to</key>
	<string></string>
	<key>menu.command.move_as</key>
	<string>⇧</string>
	<key>menu.command.create_directory</key>
	<string></string>
	<key>menu.command.move_to_trash</key>
	<string>⌘</string>
	<key>menu.command.delete</key>
	<string></string>
	<key>menu.command.delete_alternative</key>
	<string>⇧</string>
	<key>menu.command.link_create_soft</key>
	<string></string>
	<key>menu.command.link_create_hard</key>
	<string></string>
	<key>menu.command.link_edit</key>
	<string></string>
	<key>menu.window.minimize</key>
	<string>⌘m</string>
	<key>menu.window.fullscreen</key>
	<string>^⌘f</string>
	<key>menu.window.zoom</key>
	<string></string>
	<key>menu.window.bring_all_to_front</key>
	<string></string>
</dict>
</plist>
