<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>menu.files.about</string>
	<string></string>
	<string>menu.files.preferences</string>
	<string>⌘,</string>
	<string>menu.files.hide</string>
	<string>⌘h</string>
	<string>menu.files.hide_others</string>
	<string>⌥⌘h</string>
	<string>menu.files.show_all</string>
	<string></string>
	<string>menu.files.quit</string>
	<string>⌘q</string>
	<string>menu.file.newwindow</string>
	<string>⌘n</string>
	<string>menu.file.open</string>
	<string>\r</string>
	<string>menu.file.open_native</string>
	<string>⇧\r</string>
	<string>menu.file.calculate_sizes</string>
	<string>⇧⌥\r</string>
	<string>menu.file.calculate_all_sizes</string>
	<string>⇧^\r</string>
	<string>menu.file.close</string>
	<string>⌘w</string>
	<string>menu.file.find</string>
	<string>⌘f</string>
	<string>menu.file.page_setup</string>
	<string>⇧⌘p</string>
	<string>menu.file.print</string>
	<string>⌘p</string>
	<string>menu.edit.copy</string>
	<string>⌘c</string>
	<string>menu.edit.paste</string>
	<string>⌘v</string>
	<string>menu.edit.select_all</string>
	<string>⌘a</string>
	<string>menu.edit.deselect_all</string>
	<string>⌥⌘a</string>
	<string>menu.view.left_panel_change_folder</string>
	<string></string>
	<string>menu.view.right_panel_change_folder</string>
	<string></string>
	<string>menu.view.swap_panels</string>
	<string>⌘u</string>
	<string>menu.view.sync_panels</string>
	<string>⌥⌘u</string>
	<string>menu.view.refresh</string>
	<string>⌘r</string>
	<string>menu.view.toggle_short_mode</string>
	<string>^1</string>
	<string>menu.view.toggle_medium_mode</string>
	<string>^2</string>
	<string>menu.view.toggle_full_mode</string>
	<string>^3</string>
	<string>menu.view.toggle_wide_mode</string>
	<string>^4</string>
	<string>menu.view.sorting_by_name</string>
	<string>^</string>
	<string>menu.view.sorting_by_extension</string>
	<string>^</string>
	<string>menu.view.sorting_by_modify_time</string>
	<string>^</string>
	<string>menu.view.sorting_by_size</string>
	<string>^</string>
	<string>menu.view.sorting_by_creation_time</string>
	<string>^</string>
	<string>menu.view.sorting_view_hidden</string>
	<string>⇧⌥⌘i</string>
	<string>menu.view.sorting_separate_folders</string>
	<string></string>
	<string>menu.view.sorting_case_sensitive</string>
	<string></string>
	<string>menu.view.sorting_numeric_comparison</string>
	<string></string>
	<string>menu.view.show_toolbar</string>
	<string>⌥⌘t</string>
	<string>menu.view.show_terminal</string>
	<string>⌥⌘o</string>
	<string>menu.go.back</string>
	<string>⌘[</string>
	<string>menu.go.forward</string>
	<string>⌘]</string>
	<string>menu.go.enclosing_folder</string>
	<string>⌘</string>
	<string>menu.go.into_folder</string>
	<string>⌘</string>
	<string>menu.go.documents</string>
	<string>⇧⌘o</string>
	<string>menu.go.desktop</string>
	<string>⇧⌘d</string>
	<string>menu.go.downloads</string>
	<string>⌥⌘l</string>
	<string>menu.go.home</string>
	<string>⇧⌘h</string>
	<string>menu.go.library</string>
	<string></string>
	<string>menu.go.applications</string>
	<string>⇧⌘a</string>
	<string>menu.go.utilities</string>
	<string>⇧⌘u</string>
	<string>menu.go.to_folder</string>
	<string>⇧⌘g</string>
	<string>menu.command.system_overview</string>
	<string>⌘l</string>
	<string>menu.command.volume_information</string>
	<string></string>
	<string>menu.command.file_attributes</string>
	<string>^a</string>
	<string>menu.command.copy_file_name</string>
	<string>⇧⌘c</string>
	<string>menu.command.copy_file_path</string>
	<string>⌥⌘c</string>
	<string>menu.command.select_with_mask</string>
	<string>⌘=</string>
	<string>menu.command.deselect_with_mask</string>
	<string>⌘-</string>
	<string>menu.command.quick_look</string>
	<string></string>
	<string>menu.command.internal_viewer</string>
	<string>⌥</string>
	<string>menu.command.external_editor</string>
	<string></string>
	<string>menu.command.eject_volume</string>
	<string></string>
	<string>menu.command.compress</string>
	<string></string>
	<string>menu.command.copy_to</string>
	<string></string>
	<string>menu.command.copy_as</string>
	<string>⇧</string>
	<string>menu.command.move_to</string>
	<string></string>
	<string>menu.command.move_as</string>
	<string>⇧</string>
	<string>menu.command.create_directory</string>
	<string></string>
	<string>menu.command.move_to_trash</string>
	<string>⌘</string>
	<string>menu.command.delete</string>
	<string></string>
	<string>menu.command.delete_alternative</string>
	<string>⇧</string>
	<string>menu.command.link_create_soft</string>
	<string></string>
	<string>menu.command.link_create_hard</string>
	<string></string>
	<string>menu.command.link_edit</string>
	<string></string>
	<string>menu.window.minimize</string>
	<string>⌘m</string>
	<string>menu.window.fullscreen</string>
	<string>^⌘f</string>
	<string>menu.window.zoom</string>
	<string></string>
	<string>menu.window.bring_all_to_front</string>
	<string></string>
</array>
</plist>
