HEADER_SEARCH_PATHS = $(PROJECT_DIR)/3rd_Party/libarchive/include $(PROJECT_DIR)/3rd_Party/unrar/include $(PROJECT_DIR)/3rd_Party/AquaticPrime/include $(PROJECT_DIR)/3rd_Party/rapidjson/include $(PROJECT_DIR)/3rd_Party/boost/include $(PROJECT_DIR)/3rd_Party/AppAuth/AppAuth-iOS/Source/** $(PROJECT_DIR)/3rd_Party/LetsMove $(PROJECT_DIR)/3rd_Party/MMTabBarView $(PROJECT_DIR)/3rd_Party/ctrail/include $(PROJECT_DIR)/3rd_Party/robin_hood/include $(PROJECT_DIR)/3rd_Party $(PROJECT_DIR)/Habanero/include $(PROJECT_DIR)/Utility/include $(PROJECT_DIR)/RoutedIO/include $(PROJECT_DIR)/VFS/include $(PROJECT_DIR)/VFSIcon/include $(PROJECT_DIR)/Config/include $(PROJECT_DIR)/Operations/include $(PROJECT_DIR)/Term/include $(PROJECT_DIR)/CUI/include $(PROJECT_DIR)/Viewer/include $(PROJECT_DIR) $(HOME)

OTHER_LDFLAGS = $(OTHER_LDFLAGS) -ObjC -lAppAuth-macOS -lboost_system-mt -lboost_filesystem-mt -lctrail

LD_RUNPATH_SEARCH_PATHS = @executable_path/../Frameworks

FRAMEWORK_SEARCH_PATHS = $(PROJECT_DIR)/3rd_Party/Sparkle/

LIBRARY_SEARCH_PATHS = $(PROJECT_DIR)/3rd_Party/libarchive/built $(PROJECT_DIR)/3rd_Party/unrar/built $(PROJECT_DIR)/3rd_Party/AquaticPrime/built $(PROJECT_DIR)/3rd_Party/libssh2/built $(PROJECT_DIR)/3rd_Party/AppAuth/built $(PROJECT_DIR)/3rd_Party/boost/built $(PROJECT_DIR)/3rd_Party/ctrail/built $(SDKROOT)/usr/lib/system

USE_HEADERMAP = NO

MACOSX_DEPLOYMENT_TARGET = 10.11
WRAPPER_EXTENSION = app
VALID_ARCHS = x86_64
SDKROOT = macosx
CLANG_ENABLE_OBJC_ARC = YES
OTHER_CPLUSPLUSFLAGS = $(OTHER_CFLAGS) -std=c++2a -Wall -Wextra -Werror
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_NO_COMMON_BLOCKS = YES
ENABLE_STRICT_OBJC_MSGSEND = YES

RUN_CLANG_STATIC_ANALYZER = NO
