BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
Standard: Cpp11
DerivePointerAlignment: false
PointerAlignment: Right
ColumnLimit: 120
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: InlineOnly
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortEnumsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction: true
    AfterClass: true
    AfterStruct: false
    AfterEnum: false
    BeforeElse: true
BreakStringLiterals: true
FixNamespaceComments: true
IndentCaseLabels: true
SortIncludes: false
SpaceBeforeParens: Never
SpacesInConditionalStatement: true
SpacesInContainerLiterals: false
QualifierAlignment: Left
---
Language: ObjC
Standard: Cpp11
DerivePointerAlignment: false
PointerAlignment: Right
ColumnLimit: 120
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: InlineOnly
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortEnumsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction: true
    AfterClass: true
    AfterStruct: false
    AfterEnum: false
    BeforeElse: true
BreakStringLiterals: true
FixNamespaceComments: true
IndentCaseLabels: true
SortIncludes: false
SpaceBeforeParens: Never
SpacesInConditionalStatement: true
SpacesInContainerLiterals: false
QualifierAlignment: Left
